<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite001">
  <test name="PostValidateRevenueBundle">
    <classes>
    
    <class name="ois.testSuite.OISPostRevValidatePrem" />
    <class name="ois.testSuite.OISDummy" />
    
   <!--     <class name="ois.testSuite.PostRevenueValidatePremium" /> -->
	     <!--      <class name="restAPITestCases01.PostValidateRevenueBundle" />  -->
	  <!--     <class name="restAPITestCases01.ReponseValidation" /> -->
	   
          
    </classes>
    
  </test> <!-- Test -->
  
  <test name="PostValidateRevenueBundle01">
    <classes>
    
    <class name="ois.testSuite.OISOblGetObligations" />
    <class name="ois.testSuite.OISDummy" />
    
   
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->



